.container {
  background-image: linear-gradient(150deg, #ebc5e3, #c8c5f0);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black !important;
  font-weight: 900;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}