.details{
  margin-left: -340px;
  margin-bottom: 20px;
}
.img{
  /* margin-top: -230px !important ; */
  margin-bottom: 20px !important;
  /* margin-left: 400px !important; */
}
.h2{
  margin-bottom: 20px;
}

.account{
  margin-bottom: 10px;
}
.account-head{
  margin-bottom: 16px;
}
.img{
  margin-top: -180px;
  margin-left: 190px;
}