@import "tailwindcss";


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(100deg, #0d0c0e, #1f1f24, #0d0c0e) !important;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  /* overflow: hidden !important; */
  width: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.card {
  width: 100%;
  max-width: 880px;
  margin: 20px auto;
  margin-left: 60px;
  padding: 22px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 18px;
  align-items: stretch;
  color: #fff;
}